
.header {
  text-align: center;
  margin: 2rem 0;
}

  .header h1 {
    font-size: 32px;
  }

*:focus {
  outline: none;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-bar {
  display: flex;
  align-items: center;
}

  .search-bar input {
    padding: 8px 12px;
    border: 1px solid #dee2e6;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    width: 512px;
  }

  .search-bar button {
    border: 1px solid #ccc;
    border-left: none;
    background-color: #8061ff;
    color: #fff;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

    .search-bar button:hover {
      background-color: #8030ff;
    }

.search p {
  margin: 1rem;
  color: red;
  text-align: center;
}


@keyframes l16 {
  0% {
    background-position: -150% 0,-150% 0
  }

  66% {
    background-position: 250% 0,-150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}


@media (max-width: 768px) {
  .search-bar input {
    width: 256px;
  }

  .header h1 {
    font-size: 26px;
  }
}
