<header>
  <nav class="navbar">
    <div class="navbar-container">
      <a class="navbar-logo" [routerLink]="['/']">
        <img src="https://i.ibb.co/BC5FczC/evohub-logo.png" alt="EvoHub Logo">
      </a>
      <ul class="navbar-menu">
        <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/meus-repositorios']">MEUS REPOSITÓRIOS</a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/outros-repositorios']">OUTROS REPOSITÓRIOS</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
