.header {
  text-align: center;
  margin: 2rem 0;
}

  .header p {
    margin: auto;
  }

  .header h1 {
    font-size: 32px;
  }

  .header a {
    color: #8030ff;
  }

  .header button {
    padding: 5px 20px;
    background: #8061ff;
    border-radius: 60px;
    color: white;
    border: none;
  }

    .header button:hover {
      background-color: #8030ff;
    }


  .header p, h1, button {
    margin: 1rem;
  }

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 26px;
  }
}

@keyframes l16 {
  0% {
    background-position: -150% 0,-150% 0
  }

  66% {
    background-position: 250% 0,-150% 0
  }

  100% {
    background-position: 250% 0, 250% 0
  }
}
